#ovo{
    margin-left: 420px;
}

.mdl-layout__header-row{
    background-color: white;
}

#usa{
    height: 20px;
    margin-bottom: 16px;
    margin-right: 10px;
}

#one{
    height: 400px;
}

#two{
    height: 400px;
   
}

#three{
    height: 400px;
  
    
}

.page-content{
    margin-left: 120px;
    margin-top: 50px;
}

.mdl-layout__drawer{
   
}